RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
ExpiresActive On
ExpiresByType image/gif A2592000
ExpiresDefault "modification plus 2 day"
<Files index.html>
Header append Cache-Control "public, must-revalidate"
</Files>
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>
